.BuildControlsWrapper {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  bottom: var(--padding);
  left: 0;
  padding: var(--padding);
}

.BuildControlsContainer {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.BuildControlsTotalPrice {
  display: inline-block;
  position: relative;
  font-weight: bolder;
  font-size: 2rem;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  padding: 5px 10px;
  border: 1px dashed goldenrod;
}


.OrderBtn {
  position: absolute;
  right: calc(2 * var(--padding));
  top: calc(3 * var(--padding));
  background-color: #DAD735;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  border-radius: var(--border-radius);
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  padding: calc(2 * var(--padding));
  box-shadow: 2px 2px 2px #966909;
}

.OrderBtn:hover, .OrderBtn:active {
  background-color: #A0DB41;
  border: 1px solid #966909;
  color: #966909;
}

.OrderBtn:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderBtn:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@media (min-width: 768px) {
  .BuildControlsWrapper  {
    bottom: calc(5 * var(--padding));
  }
}