.BuildControlWrapper {
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: space-between;
  background-color: goldenrod;
  padding: var(--padding);
  margin: 5px;
  border-radius: var(--border-radius);
  width: 100%;
  height: calc(35px + 2 * var(--padding));
  line-height: 35px;
}

.BuildControlButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

.BuildControlButtonsWrapper .BuildControlBtn {
  cursor: pointer;
  padding: 0 10px;
  font-size: 1.5rem;
  border: 1px solid #AA6817;
  border-radius: var(--border-radius);
  outline: none;
}

.BuildControlButtonsWrapper .BuildControlBtn:first-child {
  margin-right: var(--padding);
}

.BuildControlButtonsWrapper .BuildControlBtn:disabled {
  background-color: #AC9980;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.BuildControlButtonsWrapper .BuildControlBtn:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControlButtonsWrapper .Less {  
  background-color: #D39952;
  color: white;
}

.BuildControlButtonsWrapper .More {
  background-color: #8F5E1E;
  color: white;
}

.BuildControlButtonsWrapper .Less:hover, .BuildControlButtonsWrapper .Less:active {  
  background-color: #DAA972;
  color: white;
}

.BuildControlButtonsWrapper .More:hover,.BuildControlButtonsWrapper .More:active {
  background-color: #99703F;
  color: white;
}


@media (min-width: 768px) {
  .BuildControlWrapper {
    flex-basis: calc(50% - 2 * var(--padding));
  }
}
