.CheckoutSummaryWrapper {
    margin: 0 auto;
    width: 100%;
}

.BurgerContainer {
    margin: calc(3 * var(--padding)) auto;
}

.TitleHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 576px) {
    .TitleHeader {
        flex-direction: column;
    }

    .TitleHeader > .Title {
        text-align: left;
        order: 1;
        margin-bottom: var(--padding);
    }

    .TitleHeader > .Continue {
        order: 2;
        margin-bottom: var(--padding);
    }

    .TitleHeader > .Cancel {
        order: 3;
    }
  }