.Btn {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: 150ms all ease-in-out;
}

.Btn:disabled {
    cursor: not-allowed;
    background-color: lightgrey !important;
    border-color: gray !important;
}

.Success {
    color: var(--success);
}

.Danger {
    color: var(--danger);;
}

.Outline {
    border: 1px solid;
}

.Outline.Danger {
    border-color: var(--danger);
}

.Outline.Danger:hover {
    background-color: var(--danger);
    color: white;
}

.Outline.Success {
    border-color: var(--success);
}

.Outline.Success:hover {
    background-color: var(--success);
    color: white;
}

.Full {
color: white;
}

.Full.Danger {
    background-color: var(--danger);
}

.Full.Danger:hover, .Full.Success:hover {
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, .3);
}

.Full.Success {
    background-color: var(--success);
}
