.IngredientsList {
    font-size: 0.9rem;
    margin-top: calc(var(--padding) * 3);
    margin-left: calc(var(--padding) * 5);
    margin-bottom: calc(var(--padding) * 3);
    list-style-position: inside;
}

.IngredientsListItem {
    display: flex;
    justify-content: space-between;
}

.IngredientName {
    text-transform: capitalize;
}

.IngredientsListItemSeparator {
    display: inline-block;
    border: 0;
    border-top: 3px dotted black;
    height: 0;
    flex: 1;
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-top: calc(var(--padding) * 2);
}

.IngredientsListItem:nth-child(even) > .IngredientsListItemSeparator {
    border-top: 3px dotted gray;
}

.ActionWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: calc(var(--padding) * 3);
}

.Separator {
    margin: calc(var(--padding) * 2) 0;
}

.TotalWrapper {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.25rem;
}

.TotalWrapper > .IngredientsListItemSeparator {
    margin-top: 0.75rem;
}