.LayoutPagesList {
  list-style: none;
  margin: var(--padding);
}

.LayoutPagesList .LayoutPagesItem {
  display: inline-block;
  padding: var(--padding);
}

.LayoutContainer {
  height: 100%;
  padding: calc(var(--padding) * 2);
}