/* Using Styled Components */
/*.Person {*/
/*  box-sizing: border-box;*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  padding: 10px 15px;*/
/*  border: 1px solid gray;*/
/*  box-shadow: 5px 5px 5px lightgray;*/
/*  margin: 10px;*/
/*}*/

.Person-Close {
  position: absolute;
  cursor: pointer;
  padding: 2px;
  top: 5px;
  right: 10px;
}

/*@media (max-width: 728px) {*/
/*  .Person {*/
/*    width: 100%;*/
/*    margin: 10px 0;*/
/*  }*/
/*}*/
