.FormWrapper {
  padding: calc(2 * var(--padding));
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid rgb(170, 170, 170);
  border-radius: var(--border-radius);
  margin: var(--padding) auto;
  width: 100%;
}

.FormWrapper .Control {
  margin-bottom: calc(3 * var(--padding));
}

.ActionWrapper {
  display: flex;
  justify-content: flex-end;
}

.ActionWrapper > .LoginBtn {
  align-self: center;
  display: inline-block;
}

.ActionWrapper > .SwitchAuthType {
  display: inline-block;
  color: dodgerblue;
}

@media (min-width: 768px) {
  .FormWrapper {
      width: 50%;
  }
}

@media (max-width: 576px) {
  .ActionWrapper {
    flex-flow: column;
  }
  .ActionWrapper > * {
    width: 100%;
  }
}
