.Btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 5px;
  border: 1px solid black;
  transition: 100ms all ease-out;
}

.Btn.Normal {
  background: #2bb146;
}

.Btn.Normal:hover {
  background-color: #6bd681;
}

.Btn.Pressed {
  background: rgb(196, 37, 124);
  box-shadow: inset 3px 3px 1px rgba(59, 59, 59, 0.78);
  color: white;
}

.Btn.Pressed:hover {
  background: rgb(204, 106, 160);
  color: black;
}
