:root {
  --padding: 5px;
  --border-radius: 5px;
  --small-width: 576px;
  --medium-width: 768px;
  --large-width: 992px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
