.Snackbar {
    position: fixed;
    bottom: calc(2 * var(--padding));
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid gray;
    border-radius: var(--border-radius);
    padding: calc(2 * var(--padding));
    transition: 300ms all ease-in-out;
    width: 350px;
    height: 50px;
    z-index: 999;
}

.Snackbar.Show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

.Snackbar.Hide {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, calc(100%));
}

.Snackbar > .CloseBtn {
    position: absolute;
    top: calc(2 * var(--padding));
    right: calc(2 * var(--padding));
    color: inherit;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.Snackbar.Success {
    background-color: var(--light-success);
    color: var(--success);
    border-color: var(--success);
}

.Snackbar.Error{
    background-color: var(--light-error);
    color: var(--error);
    border-color: var(--error);
}

.Snackbar.Alert{
    background-color: var(--light-success);
    color: var(--success);
    border-color: var(--success);
}